@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Prompt:wght@300&family=Rubik+Beastly&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');
*{
    padding: 0;
    margin: 0;
    font-size: 20px;
}
html{
    scroll-behavior: smooth;
    padding: 0%;
    margin: 0%;
}
.navbar-brand{
    font-weight: 800;
    font-family: 'Clarendon Bik BT';
}
.nav-logo-img{
    height: 100px;
    width: 100px;
}
/* Kollektif */


@media only screen and (max-width: 420px){
}
@media only screen and (max-width: 600px){
    .navbar-brand{
        font-size: 15px;
    }
}